name: Hello Workflow

on:
  push:

jobs:
  greet:

    runs-on: ubuntu-latest

    steps:
      - name: Print Geeting
        run: |
          echo " Hello Ram "
          echo " This workflow ran Successfully "   