name: Node Js CI
on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: Ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Node Js Ebvironment
              uses: actions/setup-node@v6

            - name: Install Dependencies
              run: npm install

            - name: Run tests
              run: npm test